
@import url('https://fonts.googleapis.com/css2?family=Ubunut&display=swap');
.container {
  text-align: center;
  background-color: #fff;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
}
.Location{
  color: #ccc;
  align-self: center;
  font-size: 15px;
  align-self: flex-end;
}
.Bold{
  color: darkgrey
}
.Title{
  font-size: 30px;
  color: #ccc;
  align-self: center;
  font-family: 'Ubuntu', cursive;
  
}

.HeadingSub{
  font-size: 20px;
  color: lightslategrey;
  
}
.Titlebox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.OuterTitleBox {
  align-self: flex-end;
}
.HamContainer {
align-self: center;
}
.Ham {
    width: 50px;
    height: auto; 
    cursor: pointer;
  
  }