@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
.container {
  text-align: center;
  background-color: #fff;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
 
}
.TitleNav {
  text-decoration: none;
  
}
.Details{
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
.Location{
  color: #ccc;
  align-self: center;
  font-size: 15px;
  align-self: flex-end;
}
.Bold{
  color: darkgrey
}
.Title{
  font-size: 30px;
  color: lightslategray;
  align-self: center;
  font-family: 'Suez One', serif;

  
}

.HeadingSub{
  font-size: 20px;
  color: #ccc;
  
}
.Titlebox{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.OuterTitleBox {
  align-self: flex-end;
  justify-content: flex-start;
  width: 400px;
}


@media(max-width: 1100px){
  .HamContainer {
    align-self: center;
    }
    .Ham {
        width: 50px;
        height: auto; 
        cursor: pointer;
      
      }
  .NavCon {
    display: none;
  }

}

@media(min-width: 1101px){
  .HamContainer{
    display: none;
  }
  .Ham{
    display: none;
  }
  .NavCon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
  }
  .Nav{
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    color: lightslategray;
    
  }
  .Nav:hover{
    color: darkgrey;
  }
}

@media(max-width: 700px){
  .Details{
    display: none;
  }
}