.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.mediumPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.subHeading {
  color: rgb(197, 190, 190);
  font-weight: bold;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
}