@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
.container {
  text-align: center;
  background-color: #fff;
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
}
.TitleNav {
  text-decoration: none;
}
.Details {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 300px;
}
.LocCont {
  align-self: center;
  align-self: flex-end;
}
.Location {
  color: #ccc;

  font-size: 15px;
}
.Bold {
  color: darkgrey;
}
.Title {
  font-size: 30px;
  color: lightslategray;
  align-self: center;
  font-family: "Suez One", serif;
}

.HeadingSub {
  font-size: 20px;
  color: #ccc;
}
.Titlebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.OuterTitleBox {
  align-self: center;
  justify-content: flex-start;
  width: 400px;
}

@media (max-width: 1100px) {
  .HamContainer {
    align-self: center;
  }
  .Ham {
    width: 50px;
    height: auto;
    cursor: pointer;
  }
  .NavCon {
    display: none;
  }
}

@media (min-width: 1101px) {
  .HamContainer {
    display: none;
  }
  .Ham {
    display: none;
  }
  .NavCon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 300px;
  }
  .Nav {
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: lightslategray;
  }
  .Nav:hover {
    color: rgb(152, 178, 205);
  }
}

@media (max-width: 700px) {
  .Details {
    display: none;
  }
}
