.box {
  color: black;
  font-size: 20;
  border: 1px solid lightslategray;
  display: "flex";
  flex-direction: "column";
  padding: 30px;
  width: 200;
  height: 150;
  margin-bottom: 100px;
}

.box:hover {
  transform: scale(1.1);
  /* transition: transform 2s ease-in-out; */
}

.centerText {
  text-align: center;
}

.information {
  text-align: center;
  font-size: large;
}

.category {
  /* border: 2px solid #ccc; */
  width: 25vw;
  margin-left: 20px;
}

.categoryTitle {
  text-align: center;
  /* border: 2px solid #ccc; */
  background-color: lightslategray;
  border-radius: 2%;
  padding: 9px;
  color: white;
}

@media (max-width: 1100px) {
  .postContainer {
    margin-top: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .category {
    /* border: 2px solid #ccc; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
}
@media (min-width: 1101px) {
  .postContainer {
    margin-top: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
