.box {
  color: black;
  font-size: 20;
  border: 1px solid #ccc;
  display: "flex";
  flex-direction: "column";
  padding: 30px;
  width: 200;
  height: 150;
  margin-bottom: 100px;
}

.box:hover {
  transform: scale(1.1);
  /* transition: transform 2s ease-in-out; */
}

.centerText {
  text-align: center;
}
