.SideBar {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 125px;
  padding-top: 20px;
  -webkit-box-shadow: 8px 8px 18px -3px rgba(125, 123, 115, 1);
  -moz-box-shadow: 8px 8px 18px -3px rgba(125, 123, 115, 1);
  box-shadow: 8px 8px 18px -3px rgba(125, 123, 115, 1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  justify-content: space-around;
}

.SideItems {
  margin-bottom: 2px;
  text-decoration: none;
  color: lightslategray;
  flex: 1 0 0;
  margin-bottom: 20px;
}

.SideItems:hover {
  color: darkgrey;
}

@media (min-width: 775px) {
  .SideBar {
    left: 85%;
  }
}
